.login-left {
  width: 40vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


.login-right {
  background: linear-gradient(135deg, #f8f8f8);
  width: 60vw;          /* Mayor ancho */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
